<div class="container">
  <h1>Symptomes du Coronavirus</h1>
  <p>Lorem ipspspkokfeLorem ipspspkokfeLorem ipspspkokfeLorem ipspspkokfeLorem ipspspkokfeLorem ipspspkokfe</p>
  <div class="prevention-cards">
    <div class="card">
      <h2>Forte fievre</h2>
      <p>Une forte fièvre dans le cadre de la COVID-19 est généralement définie comme une température supérieure à 39 °C et peut être un signe d'infection, mais elle peut également être absente ou légère chez certaines personnes. </p>
    </div>

    <div class="card">
      <h2>Toux</h2>
      <p>La toux due à la Covid-19 se distingue par ses intonations spécifiques et peut être légère ou persistante, mais elle devient rarement chronique; pour confirmer la présence du virus, un test de dépistage PCR est nécessaire.</p>
    </div>

    <div class="card">
      <h2>Gorge irritée</h2>
      <p>L'odynophagie aiguë est un nouveau symptôme du Covid-19, particulièrement associé au variant Omicron, se manifestant par un mal de gorge persistant et des douleurs lors de la déglutition.</p>
    </div>

    <div class="card">
      <h2>Migraine</h2>
      <p>La migraine après COVID-19 peut survenir en raison de l'impact du virus sur les nerfs et d'une augmentation du stress, affectant ainsi la qualité de vie ; elle peut durer de quelques heures à plusieurs jours et nécessite souvent un traitement par médicaments antidouleur ou triptans.</p>
    </div>
  </div>
</div>
